/*
Colors used:
White: #ffffff
light Grey: #d8d8d8
dark Grey: #4e4d4d
Black: #000000
(easy cook) Orange: #f68903
(beauty rescue) Pink: #e74168
*/

* {
  box-sizing: border-box;
}

/* ==============================
Text Styling
================================= */
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
}

h1, h2, h3, h4 {
line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 20px 0;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

/* ==============================
Image Styling
================================= */
img {
  width: 100%;
}

/* Animation */
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change  {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation-duration: 38s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* ==============================
Hyperlink
================================= */
a {
  text-decoration: none;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus {
  color: #464446;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}

/* ==============================
Buttons
================================= */

/* View Project - Button */
.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding:8px;
  border-radius: 3px;
  border-bottom: 1px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #994c30;
  color: #ffffff;
}

/* Send Email - Button */
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* ==============================
Layout Styling
================================= */
.container {
  padding: 0 15px;
}

/* Header */
header {
  background-color: #ffe4c4;
  padding: 12px 0 6px;
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.6);
  position:fixed;
  width: 100%;
}

 /* Main */
main {
  padding-top: 38px;
}

/* Row */
.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Text Aligment */
#hero h1 {
  text-align: center;
}

#work h2 {
  text-align: center;
}

/* Navigation Bar */
.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav > ul > li > a:visited {
  color: #000000;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: #f68903;
}

nav > ul > li > a:active {}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

nav i {
  position: absolute;
  top: 0;
  right: 4px;
}

/* Responsive Section */
.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Hero Section */
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero p {
  text-align: center;
}

/* Footer */
footer {
  background-color: #ffe4c4;
  text-align: center;
  padding:10px 0;
}

/* Socialmedia */
.socialmedia {
	display: inline-flex;
	list-style-type: none;
  padding: 0;
  margin: 20px;
}

.socialmedia i {
	color: #ffffff;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	font-size: 18px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.socialmedia i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.socialmedia a {
	text-decoration: none;
}

.fa-linkedin {
	background:#000000;
}

.fa-behance {
	background:#000000;
}

.fa-instagram {
	background:#000000;
}

.socialmedia i:hover {
	opacity: .7;
	border-radius: 0;
}

/* ==============================
About me
================================= */
#name h1 {
  text-align: center;
}

#about h3 {
  text-align: center;
}

#skills h2 {
  text-align: center;
}

/* ==============================
Easy Cook
================================= */
#cook h1 {
  font-size: 1.75em;
  font-weight: 550;
  color: #f68903;
  margin: 0;
  padding-top: 24px;
}

#cook h2 {
  font-size: 1.35em;
  font-weight: 400;
  margin: 0;
  padding-top: 20px;
}

/* ==============================
Beauty Rescue
================================= */
#beauty h1 {
  font-size: 1.75em;
  font-weight: 550;
  color: #e74168;
  margin: 0;
  padding-top: 24px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 16px 0;
  }

  .logo {
    max-width: 250px;
    padding: 13px 8px 7px 8px;
  }

  nav {
    width: auto;
    float: right;
    margin: 0px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
  display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  border-top: 0px transparent;
  padding: 0 0 0;
}

.navtoggle li:last-child {
  display: none;
}

.navtoggle.responsive nav {
  padding: 0 0 0;
}

  main {
    padding-top: 95px;
  }

  body {
    font-size: 18px;
  }

  /* Columns */
  .col-md-6 {
    width: 50%;
  }

  .col-md-1 {
    width:100%;
  }

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

#skills h3 {
  margin-top: 0;
}

#work h3 {
  margin-top: 0;
  margin-bottom: 18px;
}
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  /* Columns */
  .col-lg-7 {
    width: 60%
  }

.col-lg-7 h3 {
  font-size: 2em;
  font-weight: 700;
}

  .col-lg-5 {
    width: 40%
  }

  /* Container */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
